# Generate with:
#   openssl rand -base64 32
api_encryption_key: "PASTE_GENERATED_32_BYTE_BASE64_KEY_HERE"


# Separate key for the second WT32 / 48V 13S BMS
api_encryption_key_48v: "PASTE_GENERATED_32_BYTE_BASE64_KEY_HERE"
